server:
  port: 8084
application:
   name: ORDER-SERVICE
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  data:
    mongodb:
      uri: mongodb+srv://apilaka9:saibaba@cluster0.3de2w.mongodb.net/orderdb?appName=Cluster0
#             mongodb+srv://admin:saibaba@cluster0.mqdj7js.mongodb.net/sample_mflix?retryWrites=true&w=majority
      repositories:
        enabled: true

